<head>
    <meta charset="utf-8">
    <title>DRRROPS</title>
    <meta name="description" content="Damn son! Where'd you find this?!">
    <meta name="author" content="">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1" />
    <!-- <link rel="shortcut icon" type="image/png" href="" sizes="16x16 32x32 64x64">
    <link rel="apple-touch-icon" sizes="120x120" href=""> -->
    <link rel="shortcut icon" type="image/png" href="/favicon.ico" sizes="16x16 32x32 64x64">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
</head>