<template name="home">
  <div class="social-icons">
    <a href="https://www.facebook.com/sharer/sharer.php?u=Check%20out%20the%20fuckin%20drop:%20drrrops.com"><i class="fa fa-facebook"></i></a>
    <a href="https://twitter.com/home?status=Check%20out%20the%20fuckin%20drop:%20drrrops.com"><i class="fa fa-twitter"></i></a>
  </div>

  <div class="home-input">
    <div class="logo"></div>

      <form class="new-song">
        <input type="text" name="text" placeholder="Paste a SoundCloud Song URL" />
      </form>
    </div>
    
    {{> player}}

</template>