<template name="home">
  <div class="social-icons">
    <a class="facebook-share" href=""><i class="fa fa-facebook"></i></a>
    <a class="twitter-share" href="https://twitter.com/home?status=Check%20out%20the%20fuckin%20drop:%20drrrops.com"><i class="fa fa-twitter"></i></a>
  </div>

  <div class="home-input">
    <div class="logo"></div>

      <form class="new-song" autocomplete="off">
        <input type="text" name="text" placeholder="Paste a SoundCloud Song URL"/>
      </form>
    </div>
    
    {{> player}}

</template>