.player-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: @color-g0;
  transition: all 0.3s;
  opacity: 1;
  display: block;
  height: auto;
  z-index: 1;
  padding: 20px;

  &.hidden {
    opacity: 0;
    z-index: -1;
    transform: scale(0.7,0.7);

  }
}

.player-close {
  cursor: pointer;
  float : left;
  width: 40px;
  height: 40px;
  background-image: url('img/x.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top left;
  .transition(all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55));
  &:hover {
    .scale(1.2);
  }
}

.social-icons {
  float: right;
  & .facebook-share,
  & .soundcloud-share,
  & .twitter-share {
    width: 40px;
    height: 40px;
    background: @color-gray00;
    color : @color-orange01;
    text-align: center;
    line-height: 40px;
    display: inline-block;
    margin-left: 0;
    .transition(all 0.2s ease-in);
    &:hover {
      background: @color-orange01;
      color: #fff;
    }
  }
}

.song-info {
  position: absolute;
  bottom: 30px;
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.player-artist,
.player-song {
  display: block;
  margin-right: 10px;
  @media (min-width:768px) {display: inline-block;}
}

.player-info-divider {
  margin-right: 10px;
}

.player-artist {
  font-weight: 600;
}

.player-song {
  font-weight:100;
}

.player-info-divider {
  display: none;
  @media (min-width:768px) {
    display: inline;
    color: @color-orange01;
  }
}

.player-comment {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  text-align: center;
  margin: 0 auto;
  font-size: 36px;
  overflow: hidden;
  text-overflow: ellipsis;
  left: 20px;
  right: 20px;
  @media (min-width:768px) {
    left: 50px;
    right: 50px;
    font-size: 65px;
  }
}

.player-controls {
  position: absolute;
  bottom: 100px;
  @media (min-width:768px) { 
    bottom: 70px; 
  }
}

.player-control {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: @color-gray02;
  color: @color-gray03;
  float: left;
  margin-right: 10px;
  cursor: pointer;
  .transition(all 0.2s ease-in);
  &:hover { 
    color: @color-gray00; 
    background-color: @color-orange01; 
  }
  &.disabled {
    background: @color-gray01;
    color: @color-gray02;
    pointer-events: none;
    cursor: default;
  }
}

.song-tracker {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10px;
  background:@color-gray02;
}

.progress {
  display:block;
  height:100%;
  background: @color-orange01;
  .transition(width 0.3s);
}
